:root {
    --main-color: #1797c2;
    --white: #ffffff;
    --black: #000000;

    --white-color-transparency:#ffffff2b;

    --text-medium-size:17px;
    --text-large-size:20px;
    --text-title-size:22px;
    --text-title-size-large:3.5vw;

    --subnav-background-color: rgba(255, 255, 255, 0.5);
    --subnav-inactive-color: #4F4F4F;
    --subnav-indicator-background-color: rgba(0, 0, 0, 0.05);
    --subnav-backdrop-filter: blur(25px);
    --subnav-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--white);
    color: #333;
}
.footer-credits .container{
    padding-top:3vh;
    padding-bottom: 3vh;
    border-top:1px solid #e6e6e6;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .container{
    display:flex;
    flex-direction: line;
    justify-content: space-between;
    padding-top:3vh;
    padding-bottom: 3vh;
}
.footer .container .columns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-credits .container span{
    font-size:var(--text-medium-size);
    color:#000000;
    text-align: left;
}
header {
    color: #242424;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top:10px;
    padding-bottom:10px;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.5s ease;
}
header .container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar .logo{
    width:15%;
    display:flex;
    justify-content: center;
}
.logo-container{
    width:80%;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: var(--subnav-backdrop-filter);
    backdrop-filter: var(--subnav-backdrop-filter);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: backdrop-filter, background-color;
    transition-property: backdrop-filter, background-color, -webkit-backdrop-filter;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    height:50px;
    border-radius: 100px;
    padding: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo-container .logo-img{
    width:125px;
    height:50px;
    background-image: url(../../images/logo.png);
    background-size: contain;
}
.navbar .links ul li a {
    color: var(--black);
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    line-height: 22px;
}
nav ul {
    border-radius: 100px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    height: 54px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--subnav-background-color);
    -webkit-backdrop-filter: var(--subnav-backdrop-filter);
    backdrop-filter: var(--subnav-backdrop-filter);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: backdrop-filter, background-color;
    transition-property: backdrop-filter, background-color, -webkit-backdrop-filter;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #242424;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: block;
    padding: 12px 24px;
    border-radius: 60px;
    transition-property: color, background-color;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
}

nav ul li a:hover {
    background-color: #cfcfcf;
}
main {
    width:100%;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer {
    background-color: var(--white);
    box-shadow: 0 0 20px #d9dfee;
    color: #242424;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.footer-credits .logo{
    height:50px;
    width:125px;
    background-image: url(../../images/logo.png);
    background-size: contain;
}
.footer .columns .title{
    font-size:var(--text-large-size);
    color:var(--main-color);
    padding-bottom: 15px;
}
.footer .columns{
    width:33%;
}

.footer .columns a{
    font-size: 15px;
    transition:all .5s;
}
.footer .columns a:hover{
    padding-left: 3px;
    color:var(--main-color);
}
.footer .columns a:hover{
    cursor:pointer;
}

footer p {
    font-size: 0.9rem;
}

.container{
    width: 1025px;
    margin: 0 auto;
}
.section.page{
    background-image: url(../../images/math-bg2.png);
    background-position: center;
    background-size: contain;
}
.section.page .container{
    padding-top:10vh;
    padding-bottom: 10vh;
}
.section.page .title-container .xl-title{
    width:100%;
}
.section.page .title-container{
    display:flex;
    flex-direction: column !important;
    align-items: flex-start;
}
.section.search .overlay{
    padding-top:2vh;
    padding-bottom:2vh;
}
.three-elements .container .line{
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.three-elements .container .line .element{
    width:32%;
    height:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px #d9dfee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    border-top: 2px solid var(--main-color);
    transition: all .5s;
    cursor: pointer;
    margin-bottom:2%;
}
.category-pick .line{
    justify-content: space-evenly !important;
}
.landing-section{
    background-image: url(../../images/main-bg.jpg);
    background-position: center;
    background-size: cover;
}
.landing-section .multiple-titles{
    height:65vh;
}
.overlay{
    width:100%;
    height:100%;
}
.overlay.black-overlay{
    background-color: rgba(0, 0, 0, 0.55);
}
.overlay.shadow-overlay{
    background-color: rgba(0, 0, 0, 0.85);
}
.overlay.white-overlay{
    background-color: rgba(255, 255, 255, 0.85);
}
.section.search .container{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.section.search .search-input{
    width:50%;
    display:flex;
    box-shadow: 0 0 20px #d9dfee;
    border-radius:5px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    margin-bottom:2vh;
}
.section.search .search-input input{
    font-size:var(--text-medium-size);
    color:var(--black);
    width:80%;
    outline:none;
    padding: 15px;
    border:none;
    background-color: transparent;
}
.section.search .search-input button{
    background-color:var(--white-color-transparency);
    color:var(--main-color);
    font-weight: bold;
    font-size:var(--text-medium-size);
    width:20%;
    outline:none;
    border:none;
    border-radius: 0 6px 6px 0;
    cursor:pointer;
}
.section.search .search-input button:hover{
    background-color: var(--main-color);
    color:var(--white);
    transition:all 0.1s;
}
.title-container{
    width:100%;
    padding-top:1vh;
    padding-bottom:3vh;
}
.title-container.center-title{
    display:flex;
    justify-content: center;
}
.title-container.center-title .title{
    text-align: center;
}
.title-container .title{
    color:var(--main-color);
    font-size: var(--text-title-size);
    font-weight: bold;
}

.mini-search{
    position:relative;
    width:15%;
}

.mini-search-container {
    width: 80%;
    height: 50px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .1);
    background-color: var(--subnav-background-color);
    -webkit-backdrop-filter: var(--subnav-backdrop-filter);
    backdrop-filter: var(--subnav-backdrop-filter);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: backdrop-filter, background-color;
    transition-property: backdrop-filter, background-color, -webkit-backdrop-filter;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    padding: 10px;
}
  .search__box {
    float: left;
    width: 0;
    height: 2rem;
    background: none;
    color: #000000;
    font-size: var(--text-medium-size);
    border-radius: 2rem;
    outline: none;
    border: none;
    position: relative;
    opacity: 1;
    transition: all .75s ease-in;
    cursor: pointer;
  }
  .search__box::placeholder{
    color:rgba(0, 0, 0, 0.91);
  }
  .search__icon {
    box-sizing: border-box;
    float: right;
    font-size: var(--text-large-size);
    margin-left: .8rem;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    color: #000000;
    transition: all .25s ease-in;
    padding: .5rem;
    border-radius: 50%;
  }
  .mini-search-container:hover > .search__box {
    width: 75%;
    padding: 0 1rem;
  }
.navbar-element.scrolled-top nav ul{
    box-shadow: none;
    background-color: transparent;
}
.navbar-element.scrolled-top nav ul li a{
    color:var(--white);
    border:1px solid transparent;
    transition: all .5s;
}
.navbar-element.scrolled-top nav ul li a:hover{
    background-color: transparent;
    border:1px solid #e6e6e6;
    
}
.navbar-element.scrolled-top .mini-search-container{
    background-color: transparent;
    border:1px solid #e6e6e6;
}

.navbar-element.scrolled-top .mini-search-container .search__box{
    color: var(--white) !important;
}
.navbar-element.scrolled-top .mini-search-container .search__box::placeholder{
    color:var(--white) !important;
}
.navbar-element.scrolled-top .mini-search-container i{
    color:var(--white) !important;
}
.navbar-element.scrolled-top .logo-container{
    background-color: transparent;
}

.xl-title{
    font-size: var(--text-title-size-large) !important;
    color:white !important;
    font-weight: bold !important;
    width:30vw;
}
.multiple-titles{
    flex-direction: column;
    align-items: center;
    padding-top:5vh;
    padding-bottom: 5vh;
}
.mini-title{
    color: var(--main-color);
}
.tablet{
    width:90%;
    height:70vh;
    margin: 0 auto;
    border: 12px solid #0e0e0e;
    border-bottom: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.tablet-content{
    background-image: url(../../images/math-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-animation: 30s infinite scroll-tablet;
    width:100%;
    height: 100%;
}
.ai-bot{
    background-image: url(../../images/math-bg.jpg);
    background-size:cover;
}
.ai-bot .container{
    display:flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.chat-container{
    width:65%;
}
.logiBot{
    width:35%;
}
.chat-head{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
    border-bottom: 2px solid #ffffff21;
}
.chat-head .chat-img{
    padding: 5px;
    height: 40px;
    width: 40px;
    background-image:url(../../images/bot-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius:50%;
}
.chat-head .chat-bot-name{
    color:white;
    padding-left: 20px;
    font-size:var(--text-medium-size)
}
.chat-window{
    width:100%;
    height:100%;
    border-radius: 10px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff21;
}
.chat-window::-webkit-scrollbar {
    width: 10px;
}

.chat-window::-webkit-scrollbar-track {
    background: #e9e9e948;
}

.chat-window::-webkit-scrollbar-thumb {
    background: #e9e9e962;
    border-radius: 10px;
}

.chat-window::-webkit-scrollbar-thumb:hover {
    background: #e9e9e9c8;
}
.chat-content{
    height:50vh;
    width:100%;
    padding:1vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.message-text{
    display: flex;
    padding: 10px 15px;
    width: fit-content;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    max-width: 45%;
}
.user-message{
    margin-left: auto;
    background-color: #036666;
    text-align: right;
}
.ai-message{
    background-color: #dee2e6;
    color: #000000;
    text-align: left;
}
.chat-input{
    border:none;
    padding: 15px;
    border-top: 2px solid #ffffff21;
    background-color: transparent;
    color:white;
    outline:none;
    font-size: var(--text-medium-size);
}
.chat-input::placeholder{
    color:white;
}
@keyframes scroll-tablet {
    0%, 100% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
  }

@media (max-width: 1025px) {
    .container{
        width:80%;
    }
    .three-elements .container .line .element{
        width:48%;
    }
    .section.search .search-input{
        width:90%;
    }
    .three-elements .container .line {
        justify-content: space-between;
    }
    .three-elements .container .element {
        width:90%;
    }
}
@media (max-width: 768px) {
    :root {
        --text-medium-size:4vw;
        --text-large-size:6vw;
        --text-title-size:22px;
        --text-title-size-large:10vw;
    }
    .xl-title{
        width:85%;
    }
    .landing-section .multiple-titles{
        height:max-content;
        min-height: 70vh;
    }
    .three-elements .container .line .element{
        width:90%;
        margin-bottom:5vh;
    }
    .three-elements .container .line {
        justify-content: center;
    }
    .footer .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .container .columns{
        justify-content: center;
        align-items: center;
        padding-bottom:6vh;
    }
    .footer .container .columns a{
        line-height: 25px;
    }
    .section.page .title-container{
        align-items: center;
    }
    .section.page .title-container .xl-title{
        width:max-content;
    }
    nav ul {
        text-align: left;
        padding-left: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
    .container{
        width:100%;
    }
}